@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Nav */
nav{
    height: 60px;
}
nav .logo{
    color: teal !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul a{
    color: rgba(0, 128, 128, 0.794) !important;
    transition: all .5s;
}
nav a:hover {
   color: teal !important;
}
nav button{
    background-color: teal !important;
    color: #fff !important;
    transition: all .5s;
}
nav button:hover {
    background-color: rgb(1, 70, 70) !important;
}
/* End Nav */
/* Start Banner */
.banner {
    background-image: url('../images/img1.jpg');
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .container .banner-text h1{
    padding-bottom: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #000;
}
.banner .container .banner-text p{
    width: 500px;
    text-align: center;
    padding: 10px;
    line-height: 1.8;
    margin-bottom: 10px;
    color: rgb(82, 81, 81);
}

.banner .container .banner-text button{
    background-color: teal !important;
    color: #fff !important;
    transition: all .5s;
    outline: none;
    border: none;
}
.banner .container .banner-text button:hover {
    background-color: rgb(1, 70, 70) !important;
}
/* End Banner */
/* Start Cards */
.cards {
    display: inline-block;
    background-color: white;
    height: 160px;
    width: 260px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    cursor: pointer
}
.cards:hover {
    transform: scale(1.1)
}
.cards .cont-image{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.cards .content-txt{
    padding: 10px ;
}
.cards h5{
    text-align: center;
    font-size: 700;
    color: teal;
}
.cards .line1{
    line-height: 1.7;
    font-size: 12px;
    text-align: center;
}
/* End Cards */
/* Start Recommended */
.re {
    text-align: center;
    margin-top: 20px ;
    color: teal;
}

.clear {
    clear: both;
}
/* End Recommended */
/* Start Slider */
.slidemenu .slide-toggle {
    display: none;
    
}

.slidemenu {
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slidemenu label {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: teal !important;
    opacity: 0.5;
    cursor: pointer;
}

.slidemenu label span {
    display: block;
    font-size: 12px;
}

.slider {
    height: 2px;
    display: block;
    background: rgba(0, 128, 128, 0.349);
    margin-top: 5px;
    border-radius: 5px;
}

.slider .bar {
    width: 25%;
    height: 2px;
    background: teal;
    border-radius: 10px;
}

.slidemenu label,
.slider .bar {
    transition: all 500ms ;

}

.slidemenu .slide-toggle:checked+label {
    opacity: 1;
}

.slidemenu #slide-item-1:checked~.slider .bar {
    margin-left: 0;
}

.slidemenu #slide-item-2:checked~.slider .bar {
    margin-left: 25%;
}

.slidemenu #slide-item-3:checked~.slider .bar {
    margin-left: 50%;
}

.slidemenu #slide-item-4:checked~.slider .bar {
    margin-left: 75%;
}
/* End Slider */

.container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    margin: 0px
}

.card {
    width: 310px;
    margin: 0 35px 0 35px;
    /* height: 470px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}
.card .content h4{
    color: teal !important;
}


.card:hover {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}
.card .backgroundEffect {
    left: 0;
    width: 0px;
    height: 100%
}
.card:hover .backgroundEffect {
    right: 0;
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #0d6efd;
    animation: bgBackground 0.3s ;
}

@keyframes bgBackground {
    0% {
        width: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    
    100% {
        width: 320px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    object-fit: cover;
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 25px
}

.card .content .admin {
    color: black;
    font-size: 8px;
    float: right;
}

/* Start Blog */
.blog1 {
    margin-bottom: 20px;
    height: 500px;
}
.blog1 h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0 !important;
    text-align: center;
    color: teal !important;
}
.row1{
    background-image: url('../images/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}

.customer{
    margin: 30px 0;
}
.customer .head h2{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: teal !important;
}
.command {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
}
.command .command-img{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.command .commit {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    display: inline-block;
    background-color: white;
    margin: 50px;
    padding: 20px;
    white-space: wrap;
}
.command .commit p{
    color: rgba(0, 128, 128, 0.582);
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Footer */
footer{
    height: 200px;
    background-color: rgba(0, 128, 128, 0.5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: rgb(1, 70, 70);
}
.card1 .social{
    display: flex;
    margin-left: 20px;
}
/* .card1 .social div{
    margin: 0 10px;
} */
.card1 .social div .fa-facebook-f{
    color: rgb(64, 64, 248);
}
.card1 .social div .fa-instagram{
    color: rgb(128, 65, 20);
    margin: 0 20px;
}
.card1 .social div .fa-linkedin-in{
    color: rgba(64, 162, 243, 0.979);
}
/* /Footer */